ul(id="drop", class="dropdown-content")
		li
			a(href="#modal1",class="modal-trigger waves-effect waves-green") Sobre
				img(class="icones_cad left", src="fonts/MaterialDesignIcons/info.svg")
		li
			a(href="#modal2",class="modal-trigger waves-effect waves-green" ) Contato
				img(class="icones_cad left", src="fonts/MaterialDesignIcons/email.svg")
		li(class="divider")

		li
			a(href="#modal3",class="modal-trigger waves-effect waves-green") Ajuda
				img(class="icones_cad left", src="fonts/MaterialDesignIcons/help.svg")

ul(class="left")
	li
		a(class="dropdown-button btn-flat ", href="#!", data-activates="drop", id="menu-cadastro")
			img(id="dropMenuCadastro",class="icones_cad left", src="fonts/MaterialDesignIcons/menu.svg")
ul(class="right")
	li
		a(id="btn-login", class="waves-effect waves-light btn light-green darken-1 right", href="/login") Login
			img(id="loginIcon",class="icones_cad left", src="fonts/MaterialDesignIcons/person.svg")

	

div(id="modal1",class="modal modal-fixed-footer")
	div(class="modal-content")
		h4 Projeto Owlknow
		p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime delectus illo veniam repellat. Modi, sequi vel distinctio explicabo voluptatum necessitatibus aut fuga, molestias deserunt eveniet totam, ipsa soluta tempora.
		div In tempore porro ducimus culpa, nobis suscipit, nam at voluptatum consectetur ex qui vel, reprehenderit architecto molestias accusantium officiis eligendi esse dolore, reiciendis facere beatae dolor. Facilis, numquam. Dolorum, dolores!
		div Illum dolorem, consequatur odio aspernatur sit totam atque hic est deserunt alias reiciendis ipsa, necessitatibus deleniti. Voluptates, officia inventore aliquam veniam aliquid soluta ad magni, ab pariatur nisi eum fugit.
		div Voluptatum distinctio in eaque quis, tempore beatae quisquam quidem labore, laboriosam dolor, repellendus culpa repellat consequuntur amet sit! Debitis praesentium modi ipsum quasi id cupiditate repellendus facere. Doloremque, pariatur voluptatum.
		div Distinctio cumque, obcaecati repudiandae cupiditate quibusdam aliquam, molestias dolore necessitatibus soluta repellendus ex voluptate recusandae eaque pariatur non rem suscipit. Iste veritatis consequuntur, quisquam, a laboriosam magnam asperiores quidem fugit.
		div Cupiditate animi accusamus odio beatae ipsum eos nihil commodi quas quidem labore, ut eligendi, natus voluptatum voluptates possimus in. Impedit quas, voluptatem. Omnis animi quos dolorum, fugiat magni! Alias, tempore.
		div Ipsum, vero, soluta explicabo ex autem corporis facilis ea quasi dolorum omnis, dolor minus esse laboriosam porro! Ullam id consequuntur iste, consequatur suscipit odit, saepe sint est obcaecati, molestiae dolores.
		div Quidem nulla repellendus id, dolorum nobis doloribus quam sapiente iure, obcaecati facere ut nesciunt commodi quod itaque voluptatem non vel quos explicabo ducimus dolores eum sit. Vitae unde dolorum fugit.
		div Ratione perspiciatis sunt repellendus blanditiis rem enim quasi porro quia repudiandae! Earum quas corrupti dolorem asperiores architecto officiis, eveniet quod, quaerat id ipsa blanditiis aut, consectetur? Delectus nisi, totam? Non.
		div Veniam in ipsam eos laudantium, repudiandae fuga, iure vero possimus. Excepturi eum voluptatum consectetur nemo, vitae voluptas sunt harum maxime cumque et ullam enim. Facilis officia aperiam quod iure praesentium!
	div(class="modal-footer")
		a(href="#" , class="modal-action modal-close waves-effect waves-green btn-flat") Fechar

div(id="modal2",class="modal modal-fixed-footer")
	div(class="modal-content")
		h4 Contato
		p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime delectus illo veniam repellat. Modi, sequi vel distinctio explicabo voluptatum necessitatibus aut fuga, molestias deserunt eveniet totam, ipsa soluta tempora.
		div In tempore porro ducimus culpa, nobis suscipit, nam at voluptatum consectetur ex qui vel, reprehenderit architecto molestias accusantium officiis eligendi esse dolore, reiciendis facere beatae dolor. Facilis, numquam. Dolorum, dolores!
		div Illum dolorem, consequatur odio aspernatur sit totam atque hic est deserunt alias reiciendis ipsa, necessitatibus deleniti. Voluptates, officia inventore aliquam veniam aliquid soluta ad magni, ab pariatur nisi eum fugit.
		div Voluptatum distinctio in eaque quis, tempore beatae quisquam quidem labore, laboriosam dolor, repellendus culpa repellat consequuntur amet sit! Debitis praesentium modi ipsum quasi id cupiditate repellendus facere. Doloremque, pariatur voluptatum.
		div Distinctio cumque, obcaecati repudiandae cupiditate quibusdam aliquam, molestias dolore necessitatibus soluta repellendus ex voluptate recusandae eaque pariatur non rem suscipit. Iste veritatis consequuntur, quisquam, a laboriosam magnam asperiores quidem fugit.
		div Cupiditate animi accusamus odio beatae ipsum eos nihil commodi quas quidem labore, ut eligendi, natus voluptatum voluptates possimus in. Impedit quas, voluptatem. Omnis animi quos dolorum, fugiat magni! Alias, tempore.
		div Ipsum, vero, soluta explicabo ex autem corporis facilis ea quasi dolorum omnis, dolor minus esse laboriosam porro! Ullam id consequuntur iste, consequatur suscipit odit, saepe sint est obcaecati, molestiae dolores.
		div Quidem nulla repellendus id, dolorum nobis doloribus quam sapiente iure, obcaecati facere ut nesciunt commodi quod itaque voluptatem non vel quos explicabo ducimus dolores eum sit. Vitae unde dolorum fugit.
		div Ratione perspiciatis sunt repellendus blanditiis rem enim quasi porro quia repudiandae! Earum quas corrupti dolorem asperiores architecto officiis, eveniet quod, quaerat id ipsa blanditiis aut, consectetur? Delectus nisi, totam? Non.
		div Veniam in ipsam eos laudantium, repudiandae fuga, iure vero possimus. Excepturi eum voluptatum consectetur nemo, vitae voluptas sunt harum maxime cumque et ullam enim. Facilis officia aperiam quod iure praesentium!
	div(class="modal-footer")
		a(href="#" , class="modal-action modal-close waves-effect waves-green btn-flat") Fechar

div(id="modal3",class="modal modal-fixed-footer")
	div(class="modal-content")
		h4 Ajuda
		p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis maxime delectus illo veniam repellat. Modi, sequi vel distinctio explicabo voluptatum necessitatibus aut fuga, molestias deserunt eveniet totam, ipsa soluta tempora.
		div In tempore porro ducimus culpa, nobis suscipit, nam at voluptatum consectetur ex qui vel, reprehenderit architecto molestias accusantium officiis eligendi esse dolore, reiciendis facere beatae dolor. Facilis, numquam. Dolorum, dolores!
		div Illum dolorem, consequatur odio aspernatur sit totam atque hic est deserunt alias reiciendis ipsa, necessitatibus deleniti. Voluptates, officia inventore aliquam veniam aliquid soluta ad magni, ab pariatur nisi eum fugit.
		div Voluptatum distinctio in eaque quis, tempore beatae quisquam quidem labore, laboriosam dolor, repellendus culpa repellat consequuntur amet sit! Debitis praesentium modi ipsum quasi id cupiditate repellendus facere. Doloremque, pariatur voluptatum.
		div Distinctio cumque, obcaecati repudiandae cupiditate quibusdam aliquam, molestias dolore necessitatibus soluta repellendus ex voluptate recusandae eaque pariatur non rem suscipit. Iste veritatis consequuntur, quisquam, a laboriosam magnam asperiores quidem fugit.
		div Cupiditate animi accusamus odio beatae ipsum eos nihil commodi quas quidem labore, ut eligendi, natus voluptatum voluptates possimus in. Impedit quas, voluptatem. Omnis animi quos dolorum, fugiat magni! Alias, tempore.
		div Ipsum, vero, soluta explicabo ex autem corporis facilis ea quasi dolorum omnis, dolor minus esse laboriosam porro! Ullam id consequuntur iste, consequatur suscipit odit, saepe sint est obcaecati, molestiae dolores.
		div Quidem nulla repellendus id, dolorum nobis doloribus quam sapiente iure, obcaecati facere ut nesciunt commodi quod itaque voluptatem non vel quos explicabo ducimus dolores eum sit. Vitae unde dolorum fugit.
		div Ratione perspiciatis sunt repellendus blanditiis rem enim quasi porro quia repudiandae! Earum quas corrupti dolorem asperiores architecto officiis, eveniet quod, quaerat id ipsa blanditiis aut, consectetur? Delectus nisi, totam? Non.
		div Veniam in ipsam eos laudantium, repudiandae fuga, iure vero possimus. Excepturi eum voluptatum consectetur nemo, vitae voluptas sunt harum maxime cumque et ullam enim. Facilis officia aperiam quod iure praesentium!
	div(class="modal-footer")
		a(href="#" , class="modal-action modal-close waves-effect waves-green btn-flat") Fechar

scripts
	
	script $(document).ready(function(){ $('.modal-trigger').leanModal();});
	script 